@layer components {
  gh-repo-card {
    --color-background: var(--background1);
    --color-background-hover: var(--background2);
    --color-background-active: var(--background3);
    --color-text-primary: var(--foreground0);
    --color-text-secondary: var(--foreground1);
    --color-text-link: var(--nord7);
    --radius: 0;

    &::part(wrapper) {
      border: none;
      padding: 0lh 2ch;
    }

    &::part(repo-name) {
      font-size: 1em;
    }

    &::part(avatar) {
      height: 3lh;
      width: 3lh;
    }
  }
}
