:root {
  --c-fg: #303030;
  --c-bg: #ffffff;
  --c-bg-hover: #f0f0f0;
  --c-accent: #3fa5b5;
  --c-on-accent: #ffffff;

  --img-hash: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='6'%20height='6'%20viewBox='0%200%206%206'%3E%3Cline%20x1='6'%20y1='0'%20x2='0'%20y2='6'%20stroke='%23202020'%20stroke-width='1'/%3E%3C/svg%3E");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;

  background-color: var(--c-bg);
  color: var(--c-fg);

  font-family: "helvetica-neue-lt-pro", "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "helvetica-neue-lt-pro-cond", "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0;
}

a {
  color: unset;
  text-decoration: underline;
}

img.icon {
  height: 1lh;
}

gh-repo-card {
  --color-background: var(--c-bg);
  --color-background-hover: var(--c-bg-hover);
  --color-background-active: var(--c-bg-hover);
  --color-text-primary: var(--c-fg);
  --color-text-secondary: var(--c-fg);
  --color-text-link: var(--c-accent);
  --radius: 0;
  --color-border: var(--c-fg);

  &::part(wrapper) {
    padding: 1rem;
    font-family:
      "helvetica-neue-lt-pro", "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
  }

  &::part(repo-name) {
    font-weight: 700;
  }
}

p.fallback {
	text-align: center;
}
