@layer base, utils, components;

@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/full.css";
@import "./styles/theme/nord/index.css";

@import "./styles/components/index.css";
@import "./styles/util/index.css";
@import "./styles/font.css";

:root {
  --font-family: 'Myrica M', monospace;
  font-family: var(--font-family);

  --line-height: 1.25em;
  line-height: var(--line-height);
}

main {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 2ch 1lh;
}

/*
:root {
  --color-background: #ffffff;
  --color-background-code: #f0f0f0;
  --color-border: #404040;
  --color-text-primary: #404040;
  --color-text-link: #54c3c9;
  --color-text-link-visited: #216477;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-family: "Zen Maru Gothic", serif;
  line-height: 1.7em;
}


section {
  &:first-of-type {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-border);
  }
}

p {
  text-indent: 1em;
}

a {
  color: var(--color-text-link);

  &:visited {
    color: var(--color-text-link-visited);
  }
}

code {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: var(--color-background-code);
  font: inherit;
}

gh-repo-card {
  font-size: 0.8em;
}

div.tech-tags {
  &:before {
    font: var(--fa-font-solid);
    content: "\f02c";
    -webkit-font-smoothing: antialiased;
  }
}
*/
