:root {
  --color-background: #ffffff;
  --color-background-code: #f0f0f0;
  --color-border: #404040;
  --color-text-primary: #404040;
  --color-text-link: #54c3c9;
  --color-text-link-visited: #216477;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-family: "Zen Maru Gothic", serif;
  line-height: 1.7em;
}

main {
  max-width: 40em;
  margin: 0 auto;
  padding: 2em 1em;
}

section {
  &:first-of-type {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-border);
  }
}

p {
  text-indent: 1em;
}

a {
  color: var(--color-text-link);

  &:visited {
    color: var(--color-text-link-visited);
  }
}

code {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: var(--color-background-code);
  font: inherit;
}

gh-repo-card {
  font-size: 0.8em;
}

div.tech-tags {
  &:before {
    font: var(--fa-font-solid);
    content: "\f02c";
    -webkit-font-smoothing: antialiased;
  }
}
